<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Notes</title>
  </head>

  <style>
    body{
      font-family: Arial, Helvetica, sans-serif ;
    }
    .content-table{
      border-collapse: collapse;
      margin: 25px 25px;
      font-size: 0.9em;
      min-width: 400px;
      border-radius: 5px 5px 0 0;
      overflow: hidden;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    }

    .content-table thead tr {
      color: #ffffff;
      text-align: left;
      font-weight: bold;
    }

    .content-table th{
      padding: 12px 15px;
      text-align: left;
      background-color: #89d4f1;
    }
    .content-table td {
      padding: 12px 15px;
      text-align: left;
    }

    .content-table tbody tr {
      border-bottom: 1px solid #dddddd;
    }
    .nav_bar a{
      width: 100%;
      background-color: #89d4f1;
      color: black;
      padding: 7px 7px;
      border: 1px solid #6fbddb;
      cursor: pointer;
      text-decoration: none;
    }

    .nav_bar a:hover {
      color: white;
      background-color: #269cca;
    }

    .nav_bar li{
      list-style-type: none;
      display: inline;
      float: right;
    }

  </style>

  <body>
    <ul class="nav_bar">
      <li><a href="http://localhost:8000/lab-4/note-list/">Note Card</a></li>
      <li><a href="http://localhost:8000/lab-4/add-note">Add Note</a></li>
    </ul>
    <h1>Notes Table</h1>
    <table class="content-table">
      <tr>
        <th>To</th>
        <th>From</th>
        <th>Title</th>
        <th>Message</th>
      </tr>
        {% if notes %}
          {% for note in notes %}
            <td>{{ note.To }}</td>
            <td>{{ note.From }}</td>
            <td>{{ note.Title }}</td>
            <td>{{ note.Messages }}</td>
          </tr>  
          {% endfor %}
        {% endif %}
    </table>
  </body>
</html>
