<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Notes</title>
  </head>
  <style>
    body{
      font-family: Arial, Helvetica, sans-serif ;
    }
      .card{
      border-collapse: collapse;
      margin: 25px 0;
      font-size: 0.9em;
      min-width: 400px;
      border-radius: 5px 5px 0 0;
      overflow: hidden;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
      margin-left: auto;
      margin-right: auto;
      }

      .card div{
        border-bottom: 1px solid #dddddd;
      }
      .card-to{
        padding: 12px 15px;
        background-color: #c3e1ec;
      }

      .card-body{
        padding: 5px 15px;
      }

      .card-from{
        padding: 12px 15px;
        text-align: right;
      }

      .nav_bar a{
        width: 100%;
        background-color: #c3e1ec;
        color: black;
        padding: 7px 7px;
        border: 1px solid #a5ccda;
        cursor: pointer;
        text-decoration: none;
      }

      .nav_bar a:hover {
        color: white;
        background-color: #269cca;
      }
      .nav_bar li{
        list-style-type: none;
        display: inline;
        float: right;
      }

  </style>
  <body>
    <ul class="nav_bar">
      <li><a href="http://localhost:8000/lab-4/">Note Table</a></li>
      <li><a href="http://localhost:8000/lab-4/add-note">Add Note</a></li>
    </ul>
    <h1>Notes Card</h1>
    {% if notes %}
      {% for note in notes %}
        <div class="card" style="width: 18rem;">

          <div class="card-to">To: {{ note.To}}</div>
          <div class="card-body">
            <h4 class="card-title">{{ note.Title }}</h4>
            <p class="card-text">{{ note.Messages }}</p>
          </div>
          <div class="card-from">From: {{ note.From }}</div>

        </div>
      {% endfor %}
    {% endif %}
  </body>
</html>

