<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Note Form</title>
  </head>
  <style>
    body{
      font-family: Arial, Helvetica, sans-serif ;
    }
    input[type=text], select {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }
    
    input[type=submit] {
      width: 100%;
      background-color: #89d4f1;
      color: black;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    
    input[type=submit]:hover {
      color: white;
      background-color: #269cca;
    }
    .nav_bar a{
      width: 100%;
      background-color: #89d4f1;
      color: black;
      padding: 7px 7px;
      border: 1px solid #6fbddb;
      cursor: pointer;
      text-decoration: none;
    }

    .nav_bar a:hover {
      color: white;
      background-color: #269cca;
    }
    .nav_bar li{
      list-style-type: none;
      display: inline;
      float: right;
    }
    

    </style>
  <body>
    <ul class="nav_bar">
      <li><a href="http://localhost:8000/lab-4/">Note Table</a></li>
      <li><a href="http://localhost:8000/lab-4/note-list/">Note Card</a></li>
    </ul>
    <h1>Notes Form</h1>
    <form action="" method="POST">
      {% csrf_token %}
      {{ form }}
      <input type="submit" value="Submit">
    </form>
  </body>
</html>