<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Notes</title>
  </head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- jQuery Modal -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />

  <style>
    body{
      font-family: Arial, Helvetica, sans-serif ;
    }
    .content-table{
      border-collapse: collapse;
      margin: 25px 25px;
      font-size: 0.9em;
      min-width: 400px;
      border-radius: 5px;
      overflow: hidden;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
      margin-left: auto;
      margin-right: auto;
    }

    .content-table thead tr {
      text-align: left;
      font-weight: bold;
    }

    .content-table th{
      padding: 12px 15px;
      text-align: left;
      background-color: #89d4f1;
    }
    .content-table td {
      padding: 12px 15px;
      text-align: left;
    }

    .content-table tbody tr {
      border-bottom: 1px solid #dddddd;
    }

    .button_to{
      width: 50px;
    }
    .button_from{
      width: 50px
    }
    .button_title{
      width: 100px
    }

    .button_messages{
      width: 400px
    }
    
    .nav_bar a{
      width: 100%;
      background-color: #89d4f1;
      color: black;
      padding: 7px 7px;
      border: 1px solid #6fbddb;
      cursor: pointer;
      text-decoration: none;
    }

    .nav_bar a:hover {
      color: white;
      background-color: #269cca;
    }

    .nav_bar li{
      list-style-type: none;
      display: inline;
      float: right;
    }

    a[type="button"] {
      background-color: #89d4f1; /* Green */
      border: none;
      color: black;
      padding: 7px 7px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      margin: 4px 2px;
      cursor: pointer;
      border-radius: 5px;
      display: block;
    }
    a[type="button"]:hover {
      color: white;
      background-color: #269cca;
    }

    .modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      padding-top: 100px; /* Location of the box */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }
    .modal-content {
      position: relative;
      background-color: #fefefe;
      margin: auto;
      padding: 0;
      border: 1px solid #888;
      border-radius: 5px;
      width: 50%;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
      -webkit-animation-name: animatetop;
      -webkit-animation-duration: 0.4s;
      animation-name: animatetop;
      animation-duration: 0.4s
    }
    .modal-header {
      padding: 2px 16px;
      background-color: #89d4f1;
    }

    .modal-body {padding: 12px 15px;;}

    .modal-footer {
      padding: 1px 16px;
      background-color: #89d4f1;
      text-align: right;
    }

    .close {
      color: white;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }

    .close:hover,
    .close:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
    }
        

  </style>




  <body>    
    <h1>Notes Table</h1>
    <table class="content-table">
      <tr>
        <th>No.</th>
        <th class="button button_to">To</th>
        <th class="button button_from">From</th>
        <th class="button button_title">Title</th>
        <th class="button button_messages">Message</th>
        <th>Actions</th>
        
      </tr>
        {% if notes %}
          {% for note in notes %}
            <td>{{ note.id }}</td>
            <td>{{ note.To }}</td>
            <td>{{ note.From }}</td>
            <td>{{ note.Title }}</td>
            <td>{{ note.Messages }}</td>
            <td class="action_buttons">
              <a href="/notes/{{note.id}}" data-modal="#viewModal" type="button" data-id="{{ note.id }}">View</a>
              <a href="/notes/{{note.id}}/update" data-modal="#editModal" type="button" data-id="{{ note.id }}">Edit</a>
              <a href="/notes/{{note.id}}/delete" data-modal="#deleteModal" type="button" data-id="{{ note.id }}">Delete</a>
            </td>
          </tr>  
          {% endfor %}
        {% endif %}
    </table>




    <div id="viewModal" class="viewModal">
      <!-- Modal content -->
      <div class="modal-content">
        <div class="modal-header">
          <span class="close">&times;</span>
          <h4>To: {{ note.To }}</h4>
        </div>
        <div class="modal-body">
          <h4 class="modal-title">{{ note.Title }}</h4>
          <p class="modal-text">{{ note.Messages }}</p>
        </div>
        <div class="modal-footer">
          <h4>From: {{ note.From }}</h4>
        </div>
      </div>
    
    </div>

    <div id="editModal" class="modal">
      <form action="" method="POST">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Update">
      </form>
    </div>





    <script>
        $(function() {
          $('a[data-modal]').on('click', function() {
            $($(this).data('viewModal')).modal();
            return false;
          });
        });
    </script>
    
    
  </body>
</html>
