<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Notes</title>
  </head>
  <body>
    <table>
      <tr>
        <th>to</th>
        <th>from</th>
        <th>title</th>
        <th>message</th>
      </tr>
        {% if notes %}
          {% for note in notes %}
            <td>{{ note.To }}</td>
            <td>{{ note.From }}</td>
            <td>{{ note.Title }}</td>
            <td>{{ note.Messages }}</td>
          </tr>  
          {% endfor %}
        {% endif %}
      <!-- END SECTION -->
    </table>
  </body>
</html>
